.App {
  text-align: center;
}

.App-logo {
  height: 10min;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
    margin-top: 0.8cm;
    margin-bottom: 0.4cm;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  margin-bottom: 0.6cm;
}

.Tabs {
  margin: 0.4cm;
}

.Tab-content {
  display: block; /* Hide tab content by default */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
